 .btn-bounce {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-label {
  display: inline-block;
  padding: 2px 5px 2px 5px ;
  border-radius: 2px;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  transform: translateY(-0.25em);
  transition: transform ease 0.1s;
  color: #111;
} 

.btn-bounce:active .btn-label {
  transform: translateY(0);
} 